@mixin subtle-scrollbar {
  &::-webkit-scrollbar-track {
    box-shadow: none;
    @apply bg-slate-200 dark:bg-slate-700;
  }

  &::-webkit-scrollbar {
    width: 6px;
    height: 12px;
    @apply bg-slate-200 dark:bg-slate-800;
  }

  &::-webkit-scrollbar-thumb {
    @apply bg-slate-400 dark:bg-slate-500;
    border-radius: 3px;
    border: 0;
  }
}

@mixin subtle-horizontal-scrollbar {
  &::-webkit-scrollbar-track {
    box-shadow: none;
    @apply bg-slate-200 dark:bg-slate-700;
  }

  &::-webkit-scrollbar {
    width: 12px;
    height: 6px;
    @apply bg-slate-200 dark:bg-slate-700;
  }

  &::-webkit-scrollbar-thumb {
    @apply bg-slate-400 dark:bg-slate-500;
    border-radius: 3px;
    border: 0;
  }
}
