$themeVariants: (primary, secondary, success, info, warning, danger, grey);


/*
  Usage:
  `@include theme-variants using ($key){
      color: color($key, dark)
   }
 */

@mixin theme-variants {
  @for $i from 1 through length($themeVariants) {
    $c: nth($themeVariants, $i);
    .#{$c} {
      @content($c);
    }
  }
}

