@use "sass:map";
@use "sass:color";
@use "typography";
@use "breakpoints";
@use "colors";
@use "shadows";
@use "spacing";
@use "z" as zi;
@function to-hsl($color) {
  @return unquote(
    "#{color.hue($color)/1deg}, #{color.saturation($color)}, #{color.lightness($color)}"
  );
}

@function to-rgb($color) {
  @return unquote(
    "#{color.red($color)}, #{color.green($color)}, #{color.blue($color)}"
  );
}
$test: to-hsl(#ffffff);

$defaultTheme: map-merge(
  (
    colors: map.merge(colors.$common-colors, colors.$color-palettes),
    colors-hsl: (
      test: to-rgb(#c92c70),
    ),
    breakpoints: breakpoints.$breakpoints,
    shadows: shadows.$defaultShadows,
    zIndices: zi.$defaultZindices,
    spacing: spacing.$defaultSpacing,
    radius: spacing.$defaultRadius,
  ),
  typography.$defaultTypography
);

@function createHslColors($palettes) {
  $hslPalettes: ();
  @each $key, $val in $palettes {
    $hslPalettes: map-merge(
      $hslPalettes,
      (
        $key: to-hsl($val),
      )
    );
  }
  @return $hslPalettes;
}
