@use "../../utils/rem" as r;

$defaultSpacing: (
  tiny: 2px,
  xxs: 4px,
  xs: 8px,
  sm: 12px,
  md: 16px,
  lg: 20px,
  xl: 24px,
  xxl: 32px,
  huge: 48px,
);

$defaultRadius: (
  xs: 2px,
  sm: 4px,
  md: 8px,
  lg: 16px,
  xl: 32px,
);
