@use "../utils" as utils;

code {
  color: utils.css-var(color, code, theme("colors.danger.600"));
  background-color: utils.css-var(color, code-bg, theme("colors.slate.100"));
  @apply rounded-sm px-1 font-semibold;
  font-size: 0.875em;
  //&::before,
  //&::after {
  //  content: "`";
  //}
}

pre {
  color: utils.css-var(color, pre-code, theme("colors.danger.200"));
  background-color: utils.css-var(color, pre-bg, theme("colors.danger.800"));
  font-size: 0.875em;
  word-break: break-all;
  word-wrap: break-word;
  white-space: pre;
  @apply my-7 overflow-x-auto rounded-md py-3.5 px-5 font-normal;
  &::selection {
    @apply text-fuchsia-900;
  }
  code {
    @apply rounded-none border-0 bg-transparent p-0;
    font-weight: inherit;
    color: inherit;
    font-size: inherit;
    font-family: inherit;
    line-height: inherit;
    &::before,
    &::after {
      content: none;
    }
  }
}
